<template>
    <div class="page-header">
        <h1>Register</h1>
    </div>
    <form>
        <div class="form-group">
            <label for="register-login">Login</label>
            <input type="text" class="form-control" id="register-login" placeholder="Login" value.bind="model.login">
        </div>
        <div class="form-group">
                <label for="register-email">Email</label>
                <input type="text" class="form-control" id="register-email" placeholder="Email" value.bind="model.email">
        </div>
        <div class="form-group">
                <label for="register-password">Password</label>
                <input type="password" class="form-control" id="register-password" placeholder="Password" value.bind="model.password">
        </div>
        <div class="form-group">
                <label for="register-confirm-password">Confirm Password</label>
                <input type="password" class="form-control" id="register-confirm-password" placeholder="Confirm password" value.bind="model.confirmPassword">
        </div>
        <button type="submit" class="btn btn-primary" click.delegate="register()">Register</button>
       
    </form>
</template>